{%- extends 'lab/index.html.j2' -%}

{%- block html_head_css -%}
  {{ super() }}
  <style>
    .jp-MarkdownOutput {
      color: #00325c;
    }
  </style>
{%- endblock html_head_css -%}

{% block body_header %}
<body class="jp-Notebook theme-light" style="padding: 0; margin: 0;">
  <div style="width: 100%; display: table; background-color: #00325c">
    <div style="display: table-row">
      <div style="padding-left: 150px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; width: 150px; display: table-cell;">
        <img src="https://viskex.github.io/_images/viskex-logo.png" width="150px">
      </div>
      <div style="display: table-cell; font-size: 30px; color: white; vertical-align: middle;">
        This tutorial is part of <a href="http://viskex.github.io/" target="_blank">vis<span style="color: #c23e46">kex</span></a>.<br>
        <a target="_blank" href="https://colab.research.google.com">
          <img src="https://colab.research.google.com/assets/colab-badge.svg">
        </a>
        <a target="_blank" href="https://kaggle.com">
          <img src="https://kaggle.com/static/images/open-in-kaggle.svg">
        </a>
      </div>
    </div>
  </div>

  <div style="padding: 20px; margin: 20px;">
{% endblock body_header %}

{% block body_footer %}
  </div>
</body>
{% endblock body_footer %}
